*.mp4 filter=lfs diff=lfs merge=lfs -text
アナ-Genshin[[:space:]]Impact filter=lfs diff=lfs merge=lfs -text
video filter=lfs diff=lfs merge=lfs -text
xinhai.png filter=lfs diff=lfs merge=lfs -text
Genshin[[:space:]]Impact filter=lfs diff=lfs merge=lfs -text
